<div id="vue-app">
    <section class="container-fluid container--search text-center">
        <div class="row">
            <div class="col-md-6">
                <button @click="findMyReps" class="btn btn-primary"><i class="fa fa-crosshairs"></i> Find My Representatives</button>
                <br /><br />
            </div>
            <div class="col-md-6">
                <form @submit.prevent="searchForReps" class="form-horizontal">
                    <div class="input-group">
                        <input class="form-control" type="text" v-model="query" placeholder="Search for a politician">
                        <div class="input-group-addon"><i class="fa fa-search"></i></div>
                    </div>
                    <small>Search for politicians by name or state</small>
                </form>
            </div>
        </div>

    </section>

    <section class="container container--results">
        <Loader :isbusy="isbusy"></Loader>

        <hr>

        <div class="row" v-if="resultCount > 0">
            <div class="col-md-4 col-sm-6 col-xs-12" v-for="(member, id) in searchResults">

                <a class="index-card media" :href="'#/member/v/' + id">
                    <div class="media-left">
                        <div class="headshot" :style="'background-image: ' + getHeadshotBackgroundImage(member)"></div>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">
                            <span v-text="member.name"></span>
                            <small class="pull-right" v-if="member.party" v-html="getPartyLabelShort(member.party)"></small>
                        </h4>
                        <div class="media">
                            <div v-if="member.office" v-html="getOfficeLabel(member.office)"></div>
                            <div v-if="member.state || member.district">
                                <span v-if="member.state" v-text="stateFull(member.state)"></span>
                                <span class="badge" v-if="member.district" v-text="'District ' + member.district"></span>
                            </div>
                        </div>
                    </div>
                </a>

            </div>
        </div>
        <div class="text-center" v-if="resultCount == 0">
            <em>No results found.</em>
        </div>

    </section>
</div>