/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
  -webkit-tap-highlight-color: transparent;
  /* make transparent link selection, adjust last value opacity 0 to 1.0 */ }

body {
  -webkit-touch-callout: none;
  /* prevent callout to copy image, etc when tap to hold */
  -webkit-text-size-adjust: none;
  /* prevent webkit from resizing text to fit */
  -webkit-user-select: none;
  /* prevent copy paste, to allow, change 'none' to 'text' */
  /* Move down content because we have a fixed navbar that is 50px tall */
  background-color: #eeeeee; }

section {
  padding: 20px 0; }
  section h1 {
    margin: 0;
    font-size: 20px; }

#vue-app {
  position: relative;
  min-height: 100vh;
  width: 100vw;
  overflow: auto; }

.bg-white {
  background-color: #ffffff; }

.bg-black {
  background-color: #000000; }

/** Default styles **/
.list-group-item {
  border-radius: 0; }

.table {
  background-color: #ffffff; }
  .table td, .table th {
    padding: 1rem; }
  .table tr {
    border: 1px solid #ddd; }

.headshot {
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden; }

/** Member index cards **/
.index-card {
  color: black;
  display: block;
  background-color: #ffffff;
  margin-bottom: 20px;
  box-shadow: 0px 1px 5px #cccccc; }
  .index-card:hover {
    color: black;
    text-decoration: none;
    box-shadow: 0px 1px 7px #66afe9; }
  .index-card .media-body {
    padding-top: 10px; }
  .index-card .headshot {
    height: 100px;
    width: 100px;
    overflow: hidden; }

.x-nav {
  height: 10vh; }
  .x-nav .sticky {
    position: fixed;
    top: 0;
    left: 0;
    height: 10vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    box-sizing: border-box;
    z-index: 1000; }
    .x-nav .sticky > * {
      flex-grow: 1;
      font-size: 4vh;
      display: block;
      background-color: #eeeeee;
      color: #222222;
      text-align: center;
      padding-top: 1.75vh;
      padding-bottom: 0;
      border-bottom: 3px solid #cccccc; }
      .x-nav .sticky > *.active {
        color: #c33;
        background-color: #ffffff;
        border-bottom-color: #33c; }

/** Member Single page **/
.container--member-bio {
  font-size: 1.5em; }

.container--member-bio .headshot {
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 100px;
  margin: 20px; }

.container--member-bio .headshot object,
.container--member-bio .headshot img {
  min-width: 100%;
  min-height: 100%; }

.container--member-bio .info {
  margin: 20px; }

.container--member-bio .social-icons a {
  font-size: 2.5em; }

.container--member-bio .office-info-item {
  display: block;
  margin: 1em 0; }

.container--member-bio .website {
  word-wrap: break-word;
  word-break: break-all; }

/*# sourceMappingURL=index.css.map */
