<div>

    <h1>Job List</h1>

    <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2" v-for="(jobStatuses, jobName) in counts">
            <div class="card">
                <h3 v-text="jobName"></h3>
                <div><a class="h4 text-info" @click="search({name: 'controllers\\jobs\\' + jobName, status:'queued'})" v-text="jobStatuses.queued + ' Queued'"></a></div>
                <div><a class="h4 text-warning" @click="search({name: 'controllers\\jobs\\' + jobName, status:'in_progress'})" v-text="jobStatuses.in_progress + ' In Progress'"></a></div>
                <div><a class="h4 text-danger" @click="search({name: 'controllers\\jobs\\' + jobName, status:'failed'})" v-text="jobStatuses.failed + ' Failed'"></a></div>
                <div><a class="h4 text-success" @click="search({name: 'controllers\\jobs\\' + jobName, status:'complete'})" v-text="jobStatuses.complete + ' Complete'"></a></div>
            </div>
        </div>

    </div>

    <table class="table table-bordered card">
        <thead>
        <tr>
            <th width="90">Job</th>
            <th width="120">Status</th>
            <th width="*">Params</th>
            <th width="170">Start Time</th>
            <th width="90">Elapsed</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="job in jobs" :href="'#/jobs/v/' + job.id">
            <td v-text="job.name.split('\\').pop()"></td>
            <td v-html="getStatusLabel(job.status)"></td>
            <td v-text="job.params"></td>
            <td v-text="getDateTime(job.startTime)"></td>
            <td v-text="timeFormat(job.elapsed)"></td>
        </tr>
        </tbody>

    </table>

</div>
<style>
    td {
        max-height: 4rem;
        text-overflow: ellipsis;
        word-wrap: break-word;
    }
</style>