<!DOCTYPE html>
<!--
    Licensed to the Apache Software Foundation (ASF) under one
    or more contributor license agreements.  See the NOTICE file
    distributed with this work for additional information
    regarding copyright ownership.  The ASF licenses this file
    to you under the Apache License, Version 2.0 (the
    "License"); you may not use this file except in compliance
    with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an
    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
     KIND, either express or implied.  See the License for the
    specific language governing permissions and limitations
    under the License.
-->
<html>
<head>
    <!--
    Customize this policy to fit your own app's needs. For more guidance, see:
        https://github.com/apache/cordova-plugin-whitelist/blob/master/README.md#content-security-policy
    Some notes:
        * gap: is required only on iOS (when using UIWebView) and is needed for JS->native communication
        * https://ssl.gstatic.com is required only on Android and is needed for TalkBack to function properly
        * Disables use of inline scripts in order to mitigate risk of XSS vulnerabilities. To change this:
            * Enable inline JS: add 'unsafe-inline' to default-src
    -->
    <meta http-equiv="Content-Security-Policy"
          content="
          default-src 'self' 'unsafe-inline' file: data: gap: https://ssl.gstatic.com 'unsafe-eval' http://a.tiles.mapbox.com http://politics.blackmast.org http://d2fgvqi101p3vq.cloudfront.net;
          style-src 'self' 'unsafe-inline' file:;
          media-src *;
          img-src 'self' file: data: content: http://politics.blackmast.org http://d2fgvqi101p3vq.cloudfront.net http://api.tiles.mapbox.com">

    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport"
          content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">

    <link rel="stylesheet" type="text/css" href="res/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="res/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="res/css/index.css">
    <title>Political Winds</title>
</head>
<body>

    <div id="vue-app">
        <!-- App content goes here -->
    </div>

    <!-- Nav Template -->
    <script id="x-nav-template" type="text/x-template">
        <nav class="x-nav">
            <div class="sticky">
                <a href="#/"              :class="active === 'home' ? 'active' : ''"><i class="fa fa-home"></i></a>
                <a href="#/member/search" :class="active === 'members' ? 'active' : ''"><i class="fa fa-search"></i></a>
                <a href="#/bills"         :class="active === 'bills' ? 'active' : ''"><i class="fa fa-bank"></i></a>
                <a href="#/info"          :class="active === 'info' ? 'active' : ''"><i class="fa fa-question-circle"></i></a>
                <a href="#/settings"      :class="active === 'settings' ? 'active' : ''"><i class="fa fa-cog"></i></a>
            </div>
        </nav>
    </script>

    <!-- Loader template -->
    <script id="x-loader-template" type="text/x-template">
        <div class="text-center x-loader"><i class="fa fa-spinner fa-spin"></i> Loading...</div>
    </script>


    <!-- Alerts template. Used for displaying API call alerts -->
    <script id="x-alerts-template" type="text/x-template">
        <div class="alerts-container x-alerts">
            <div class="alert alert-danger" v-if="alerts.error" v-html="alerts.error"></div>
            <div class="alert alert-success" v-if="alerts.success" v-html="alerts.success"></div>
            <div class="alert alert-warning" v-if="alerts.warning" v-html="alerts.warning"></div>
            <div class="alert alert-info" v-if="alerts.info" v-html="alerts.info"></div>
        </div>
    </script>

    <script type="text/javascript" src="cordova.js"></script>

    <script type="text/javascript" src="res/js/plugins.min.js"></script>
    <script type="text/javascript" src="res/js/functions.js"></script>
    <script type="text/javascript" src="res/js/main.js"></script>
</body>
</html>
